data/*
.DS_Store
src/__pycache__
Implementation_plan.md
lightning_logs/
checkpoints/
checkpoints/*
tests/*
*.pyc
experiments/outputs/*
*_plan.md
.agents/
.vscode/
.cursor/
.pytest_cache/
__pycache__/
experiments/multirun/*
*.pdf
experiments/notebooks/data/Pancreas/endocrinogenesis_day15.h5ad
